{{ include('menu/nav.html.twig') }}
<header id="header">
    <a href="{{ path('main_home') }}">
        <div id="header-logo">
            <img src="{{ asset('img/icones/robot.svg') }}" alt="Icone de robot">
            <p>Antoine Guillo</p>
        </div>
    </a>
    <div id="darkmode-switch">
{#        <img id="icon-sun" src="{{ asset('img/icones/light.svg') }}" alt="icone theme light">#}
        <svg id="icon-sun" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.66797 5.46338C7.00222 5.46338 4.83398 7.63247 4.83398 10.2974C4.83398 12.9631 7.00218 15.1313 9.66797 15.1313C12.3338 15.1313 14.5019 12.9632 14.5019 10.2974C14.5019 7.63157 12.3338 5.46338 9.66797 5.46338ZM9.66797 14.1651C7.53242 14.1651 5.80022 12.4338 5.80022 10.2974C5.80022 8.16182 7.5315 6.42962 9.66797 6.42962C11.8035 6.42962 13.5357 8.16179 13.5357 10.2974C13.5357 12.4329 11.8035 14.1651 9.66797 14.1651Z" fill="#4756FF"/>
            <path d="M9.66769 4.49621C9.93508 4.49621 10.1508 4.27957 10.1508 4.01309V1.11251C10.1508 0.845128 9.93417 0.629395 9.66769 0.629395C9.4003 0.629395 9.18457 0.84603 9.18457 1.11251V4.01309C9.18457 4.27957 9.4003 4.49621 9.66769 4.49621Z" fill="#4756FF"/>
            <path d="M4.97518 6.28853C5.06945 6.3828 5.19363 6.42993 5.31691 6.42993C5.44019 6.42993 5.56436 6.3828 5.65865 6.28853C5.84718 6.09999 5.84718 5.79362 5.65865 5.60508L3.72524 3.67168C3.5367 3.48314 3.23033 3.48314 3.04179 3.67168C2.85326 3.86021 2.85326 4.16658 3.04179 4.35512L4.97518 6.28853Z" fill="#4756FF"/>
            <path d="M3.86681 10.2976C3.86681 10.0302 3.65018 9.81445 3.38369 9.81445H0.48312C0.215733 9.81445 0 10.0311 0 10.2976C0 10.565 0.216636 10.7807 0.48312 10.7807H3.38369C3.65017 10.7807 3.86681 10.565 3.86681 10.2976Z" fill="#4756FF"/>
            <path d="M4.9752 14.3064L3.04179 16.2398C2.85326 16.4284 2.85326 16.7348 3.04179 16.9233C3.13606 17.0176 3.26024 17.0647 3.38353 17.0647C3.50681 17.0647 3.63098 17.0176 3.72526 16.9233L5.65867 14.9899C5.84721 14.8013 5.84721 14.495 5.65867 14.3064C5.47013 14.1179 5.16374 14.1179 4.9752 14.3064Z" fill="#4756FF"/>
            <path d="M9.66769 16.0986C9.4003 16.0986 9.18457 16.3153 9.18457 16.5818V19.4823C9.18457 19.7497 9.40121 19.9654 9.66769 19.9654C9.93508 19.9654 10.1508 19.7488 10.1508 19.4823V16.5818C10.1508 16.3153 9.93508 16.0986 9.66769 16.0986Z" fill="#4756FF"/>
            <path d="M14.361 14.3064C14.1724 14.1179 13.8661 14.1179 13.6775 14.3064C13.489 14.495 13.489 14.8013 13.6775 14.9899L15.6109 16.9233C15.7052 17.0176 15.8294 17.0647 15.9527 17.0647C16.076 17.0647 16.2001 17.0176 16.2944 16.9233C16.4829 16.7348 16.4829 16.4284 16.2944 16.2398L14.361 14.3064Z" fill="#4756FF"/>
            <path d="M18.8524 9.81445H15.9519C15.6854 9.81445 15.4688 10.0302 15.4688 10.2976C15.4688 10.565 15.6854 10.7807 15.9519 10.7807H18.8524C19.1198 10.7807 19.3356 10.5641 19.3356 10.2976C19.3356 10.0302 19.1198 9.81445 18.8524 9.81445Z" fill="#4756FF"/>
            <path d="M14.0192 6.42944C14.1425 6.42944 14.2667 6.38231 14.361 6.28804L16.2944 4.35463C16.4829 4.1661 16.4829 3.85973 16.2944 3.67119C16.1059 3.48265 15.7995 3.48265 15.6109 3.67119L13.6775 5.60459C13.489 5.79313 13.489 6.0995 13.6775 6.28804C13.7718 6.38231 13.896 6.42944 14.0192 6.42944Z" fill="#4756FF"/>
        </svg>
        <label class="switch">
            <input id="theme-switch" type="checkbox" value="1">
            <span class="slider round"></span>
        </label>
{#        <img src="{{ asset('img/icones/dark.svg') }}" alt="icone theme dark">#}
        <svg id="icon-moon" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.9957 10.3728C18.9939 9.95068 18.7142 9.60335 18.3081 9.48669C18.2271 9.46353 18.1452 9.45284 18.0641 9.45284C17.7373 9.45284 17.4238 9.63096 17.2439 9.91774C16.2785 11.4505 14.6265 12.365 12.8247 12.365C9.94354 12.365 7.59955 10.021 7.59955 7.13988C7.59955 5.33821 8.51419 3.68625 10.0468 2.7207C10.404 2.49538 10.5705 2.06166 10.4538 1.65554C10.3407 1.26011 9.98538 0.983143 9.5757 0.968004C9.55255 0.967113 9.5187 0.965332 9.5 0.965332C4.26141 0.965332 0 5.22674 0 10.4653C0 15.7039 4.26141 19.9653 9.5 19.9653C14.7386 19.9653 19 15.7039 19 10.4653C19 10.4413 18.9975 10.3969 18.9957 10.3728ZM9.50023 19.0151C4.77828 19.0151 0.950509 15.1873 0.950509 10.4654C0.950509 5.74343 4.77828 1.91566 9.50023 1.91566C9.51448 1.91566 9.52784 1.91745 9.5412 1.91745C7.80632 3.0111 6.65026 4.93835 6.65026 7.14076C6.65026 10.5508 9.41467 13.3153 12.8248 13.3153C15.0263 13.3153 16.9544 12.1593 18.0472 10.4243C18.0472 10.4386 18.0489 10.4519 18.0489 10.4653C18.0498 15.1872 14.2222 19.0151 9.50023 19.0151Z" fill="#2D1D38"/>
        </svg>

    </div>
    <div id="menu">
        <span>menu</span>
    </div>
</header>







