{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage">
        <section id="intro">
            <img src="{{ asset('img/antoine-homepage.png') }}" alt="Photo de Antoine Guillo">
            <h1>Développeur <span class="blue-txt">fullstack</span> en quête d'une alternance de 12 mois pour son master
            </h1>
            <div id="cta">
                <a href="{{ asset('documents/cv.pdf') }}" download="CV_Antoine_Guillo.pdf">
                    <button class="white-btn">CV PDF</button>
                </a>
                <a href="tel:+33612405645">
                    <button class="blue-btn">On s'appelle</button>
                </a>
            </div>

        </section>
        <div id="bandeau">
            <div>
                <div class="infinite-scroll-container">
                    {#                TODO récupérer liste compétences dans les back et faire un foreach #}
                    <ul class="skill-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>SYMFONY</li>
                        <li>JAVA</li>
                        <li>SPRING BOOT</li>
                        <li>PYTHON</li>
                        <li>JAVASCRIPT</li>
                        <li>TYPESCRIPT</li>
                        <li>ANGULAR</li>
                        <li>VUEJS</li>
                        <li>FLUTTER</li>
                        <li>KOTLIN</li>
                        <li>SQL</li>
                        <li>PRESTASHOP</li>
                        <li>WORDPRESS</li>
                    </ul>

                    <ul class="skill-list" aria-hidden="true">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>SYMFONY</li>
                        <li>JAVA</li>
                        <li>SPRING BOOT</li>
                        <li>PYTHON</li>
                        <li>JAVASCRIPT</li>
                        <li>TYPESCRIPT</li>
                        <li>ANGULAR</li>
                        <li>VUEJS</li>
                        <li>FLUTTER</li>
                        <li>KOTLIN</li>
                        <li>SQL</li>
                        <li>PRESTASHOP</li>
                        <li>WORDPRESS</li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="home-links">
            <a href="{{ path('job_list') }}">
                <p class="link-label">Expériences</p>
                <img class="link-icon" src="{{ asset('img/icones/arrow-link.svg') }}" alt="fleche">
            </a>
            <a href="">
                <p class="link-label">Portfolio</p>
                <img class="link-icon" src="{{ asset('img/icones/arrow-link.svg') }}" alt="fleche">
            </a>
        </section>
        <section class="presentation">
            <div class="one">
                <h2 class="blue-txt">Hi !</h2>
            </div>
            <div class="two">
                <p>Bienvenue sur mon site ! Si tu es arrivé ici, c'est que je suis une bête en SEO, ou plus probablement
                    que tu a eu mon CV entre les mains. N'hésite pas à visiter pour en savoir plus sur mon parcours et
                    sache que je suis actuellement en recherche d'une alternance pour pouvoir valider un master en
                    programmation. Donc si tu a une opportunité qui pourrait m'intéresser, et que mon profil te plaît,
                    appelle moi !</p>
            </div>
        </section>
        <section id="studies">
            <h2>
                cursus <br> universitaire
            </h2>
            <div class="carrousel-nav">
                <img class="previous" src="{{ asset('img/icones/blue-up-arrow.svg') }}" alt="fleche">
                <img class="next" src="{{ asset('img/icones/blue-up-arrow.svg') }}" alt="fleche">
            </div>
            <div class="studies-container">
                <div class="overflow">
                    {% for study in studies %}
                        <a href="{{ path('studies_detail', {'id' : study.id}) }}">
                            <article
                                    {% if (loop.index) % 2 == 0 %}
                                        class="bg-blue white-txt"
                                    {% elseif (loop.index) % 3 == 0 %}
                                        class="bg-dark white-txt"
                                    {% else %}
                                        class="bg-white blue-txt"
                                    {% endif %}
                            >
                                <div class="top">
                                    <p>{{ study.date|date("Y") }}</p>
                                    <img {% if (loop.index) % 2 == 0 %}
                                        src="{{ asset('img/icones/white-up-arrow.svg') }}"
                                    {% elseif (loop.index) % 3 == 0 %}
                                        src="{{ asset('img/icones/white-up-arrow.svg') }}"
                                    {% else %}
                                        src="{{ asset('img/icones/blue-up-arrow.svg') }}"
                                    {% endif %} alt="fleche">
                                </div>
                                <div class="bottom">
                                    <p {% if (loop.index) % 2 == 0 %}
                                        class="white-txt"
                                    {% elseif (loop.index) % 3 == 0 %}
                                        class="white-txt"
                                    {% else %}
                                        class="dark-txt"
                                            {% endif %}>{{ study.schoolName }}</p>
                                    <p>{{ study.degreeName }}</p>
                                </div>
                            </article>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="fun-fact">
            <h3>fun fact.</h3>
            <p>J’ai été attaché parlementaire et j’adore les pizzas. I mean.. j’adore les pizzas !</p>
            <div>
                <button id="get-pizza" class="white-btn">Manger une pizza</button>
                <a href="{{ path('job_list') }}">
                    <button class="blue-btn">Experiences pro</button>
                </a>
            </div>
            <img id="pizza" src="{{ asset('img/pizza.png') }}" alt="pizza">
        </section>
        <section class="presentation">
            <div class="one">
                <h2 class="blue-txt">Also..</h2>
            </div>
            <div class="two">
                <p>Even tough my maternal language is french, I speak, read & understand english very well. And yes, I
                    have a very strong french accent, but according to some it can be cute. Aprendí español en la
                    escuela, pero no me contrates para eso, te decepcionarás. </p>
                <p>You can download a certificate from the learning english platform goFLUENT which certifie my english level <a href="{{ asset('documents/Antoine_GUILLO_Proficiency_Test_Result.pdf') }}" download="Antoine_GUILLO_Proficiency_Test_Result.pdf">here</a>.</p>
            </div>
        </section>
        <section id="phones">

        </section>
        <section class="fun-fact">
            <h3>fun fact.</h3>
            <p>Ma couleur préférée est le <span class="red-txt">rouge</span> et je suis persuadé que c’est l’information qui vous manquait pour
                m’appeler !</p>
            <div id="cta">
                <a href="tel:+33612405645">
                    <button class="blue-btn">On s'appelle</button>
                </a>
            </div>
        </section>

    </div>


{% endblock %}

{% block title %}

{% endblock %}

{% block extraStyle %}
    <link rel="stylesheet" href="{{ asset('styles/homepage.css') }}">

{% endblock %}

{% block extraJs %}
    {{ parent() }}
    <script src="{{ asset('js/homepage.js') }}"></script>
{% endblock %}

