{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block body %}

    <h2>Mon cursus d'études supérieures</h2>

    <div class="add-button-container">
        <a href="{{ path('studies_add') }}">
            <button>Ajouter un nouveau diplôme</button>
        </a>
    </div>

    <div class="study-list-container">
        <div class="arrow-end-container"><span class="arrow-end">V</span></div>
        {% for study in studies %}
            <div class="study-item-container">
                {% if study.id is odd %}
                    <a  class="flex-end" href="{{ path('studies_detail', {'id': study.id}) }}">
                        <div class="flex-end">
                            {{ study.degreeName }}<br>
                            Titre de niveau {{ study.level }} (BAC +{{ study.bac }})
                        </div>
                    </a>
                    <div class="arrow-border"></div>
                {% else %}
                    <div></div>
                    <a class="flex-start arrow-border" href="{{ path('studies_detail', {'id': study.id}) }}">
                        <div>
                            {{ study.degreeName }}<br>
                            Titre de niveau {{ study.level }} (BAC +{{ study.bac }})
                        </div>

                    </a>
                {% endif %}
            </div>

        {% endfor %}
    </div>

{% endblock %}

{% block extraStyle %}
    <style>
        .add-button-container {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
        }

        .study-item-container {
            display: flex;
        }

        .study-item-container a,
        .study-item-container div{
            padding: 2rem;
            width: 50%;
            display: flex;
        }

        .study-item-container a{
            text-decoration: none;
        }

        .arrow-border{
            border-left: 3px solid #ccc;
        }

        .flex-start {
            justify-content: flex-start;
            text-align: left;
        }

        .flex-end {
            justify-content: flex-end;
            text-align: right;
        }

        .arrow-end-container {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: flex-start;
        }

        .arrow-end {
            position: relative;
            rotate: 180deg;
            font-size: 2rem;
            top: 33px;
        }
    </style>
{% endblock %}

