{% extends 'base.html.twig' %}

{% block title %}Jobs | add{% endblock %}

{% block body %}
<div id="job-detail" class="page-container">
    <h2>{{ job.jobTitle }}</h2>
    
    <div class="job-info-block bg-dark">
        <p>Nom de l'entreprise : {{ job.companyName }}</p>
    </div>

    <div class="job-info-block">
        <p>Localisation de l'entreprise : {{ job.localization }}</p>
    </div>

    <div class="job-info-block">
        {% if job.dateEnd != null %}
            <p>Période : Du {{ job.dateStart|date('d-m-Y') }} au {{ job.dateEnd|date('d-m-Y') }}</p>
        {% else %}
            <p>Période : Depuis le {{ job.dateStart|date('d-m-Y') }}</p>
        {% endif %}
    </div>

    <div class="job-info-block bg-dark">
        <p>Type de contrat : {{ job.contractType | capitalize }}</p>
    </div>

    <div class="job-info-block">
        <p> {{ job.description }}</p>
    </div>

</div>
{% endblock %}

{% block extraStyle %}
    <link rel="stylesheet" href="{{ asset('styles/job-detail.css') }}">
{% endblock %}
