{% extends 'base.html.twig' %}

{% block title %}Jobs | add{% endblock %}

{% block body %}
<div class="page-container">
    <h2>{{ job.jobTitle }}</h2>

    <p><span class="blue-txt">Nom de l'entreprise :</span> {{ job.companyName }}</p>
    <p><span class="blue-txt">Localisation de l'entreprise :</span> {{ job.localization }}</p>
    {% if job.dateEnd != null %}
        <p><span class="blue-txt">Période :</span> Du {{ job.dateStart|date('d-m-Y') }} au {{ job.dateEnd|date('d-m-Y') }}</p>
    {% else %}
        <p><span class="blue-txt">Période :</span> Depuis le {{ job.dateStart|date('d-m-Y') }}</p>
    {% endif %}
    <p><span class="blue-txt">Type de contrat :</span> {{ job.contractType }}</p>
    <p><span class="blue-txt">Description :</span>  {{ job.description }}</p>
    <a href="{{ path('job_edit', {"id": job.id}) }}">
        <button>Mettre à jour</button>
    </a>
</div>

{% endblock %}
