<div data-controller="menu" data-menu-target="expandedMenu" data-action="click->menu#hideMenu" id="expanded-menu" class="hidden">
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('job_list') }}">Expériences professionnelles</a></li>
        <li><a href="{{ path('studies_list') }}">Etudes supérieures</a></li>
        <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
        <li><a href="{{ path('app_admin') }}">Administration</a></li>
    </ul>
</div>

